nav{
    background-color: yellow;
}

ul{
    display: flex;
    margin-bottom: 200px;
    padding-left: 780px;
}
 
li{
    list-style: none;
    padding: 10px;
}
img{
    width: 230px;
    height: 230px;
    padding-left: 800px;
}